.botao {
    border: none;
    text-transform: uppercase;
}



.botao-delete {
    background-color: rgb(200, 80, 80);
    border: .2rem solid rgb(255, 100, 100);
    color: white;
    height: calc(100% -  .2rem);
    margin: .1rem;
    left: 0;
    max-width: 4rem;
    min-width: 2rem;
    position:absolute;
    top: 0;
    transition: .25s;
    width: 10%;
}
.botao-delete::after {
    font-size: .75rem;
    content: "x";
}

.botao-delete:hover {
    background-color: rgb(211, 118, 118);
    border-color: rgb(255, 80, 80);
    transition: .25s;
}
.botao-delete:active {
    background-color: rgb(109, 0, 0);
    border-color: white;
}


