.botao {
    border: none;
    color: var(--cor-principal);
    text-transform: uppercase;
}

.botao__despesa {
    background-color: white;
    border-radius: 0 0 1rem 1rem;
    font-size: 2rem;
    font-weight: 700;
    height: 3rem;
    margin-top: 1.25rem;
    width: 100%;
}
.div__botao-delete{ 
    position: relative;
}
.botao__delete {
    position: absolute;
}
.botao__produto {
    bottom: 0;
    border-radius: 1.5rem;
    height: 3rem;
    position: fixed;
    
    margin: 0 calc((100% - 70%)/2);
    margin-bottom: 1rem;
    width: 70%;
}
.botao:active {
    background-color: var(--cor-principal);
}
.botao:hover {
    box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.5) ;
    transition: .5s;
}

.botao__produto:hover {
    animation-name: animaBotao;
    animation-duration: .75s;
}

@keyframes animaBotao{
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0.95) scaleX(1.2);
        
    }
    100% {
        transform: scale(1);

    }
}


@media screen and (min-width: 1024px) {
    
    .botao__despesa {
        width: 100%;
    }
}
@media screen and (min-width: 1400px) {
    .botao__despesa {
        position: absolute;
        margin-top: 2rem;
    }

}