:root {
    --azul-escuro: rgb(94, 173, 184);
    --azul-principal: rgb(0, 174, 255);
    --vermelho-escuro: rgb(184, 94, 94);
}


body {
    background-color: aliceblue;
    padding: 0 10rem;
    
}
body * {
    font-family: 'Quicksand', sans-serif;
    
}
main {
    background-color: white;
    min-height: 100vh;
}

button {
    border: none;
    border-radius: 2rem;
    color: aliceblue;
    padding: .5rem;
    margin: 1rem;
    text-transform: uppercase;
}
.botao__despesa {
    background-color: grey;
    width: calc(100% - 2rem);
}
.botao__produto {
    background-color: rgb(40, 155, 40);
    margin: 0;
    margin-left: 50%;
    width: 50%;
    height: 3rem;
}
button:active {
    background-color: var(--vermelho-escuro);
}
input,select {
    padding: .5rem;
}


.container {
    align-items: center;
    display: flex;
    padding: 1rem;
    flex-direction: column;
}


@media  screen and (max-width:768px) {
    body {
        padding: 0;
    }
}