:root {
    --azul-principal: rgb(94, 173, 184);
}


body {
    background-color: aliceblue;
    padding: 0 10rem;
    
}
body * {
    font-family: 'Quicksand', sans-serif;
    
}
main {
    background-color: white;
    min-height: 100vh;
}

button {
    background-color: grey;
    border: none;
    border-radius: 1rem;
    color: aliceblue;
    padding: .5rem;
    align-self: flex-end;
    text-transform: uppercase;
    width: 10rem;
}
button:active {
    background-color: rgb(180, 2, 2);
}
input,select {
    padding: .5rem;
}


.container {
    align-items: center;
    display: flex;
    padding: 1rem;
    flex-direction: column;
}

.custo-total {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: 3rem;
    display: flex;
    justify-content: space-around;
}

.mensagem-erro {
    background-color: rgba(255, 0, 0, 0.25);
    border-radius: 5px;
    color: red;
    display: inline-block;
    padding: .26rem;
    
    text-align: center;
}
.mensagem-erro-oculta {
    display: none;
}

@media  screen and (max-width:768px) {
    body {
        padding: 0;
    }
}