
.button__nav {
    height: var(--altura-cabecalho);
    justify-content: space-between;
    margin-left: 1rem;
    position: fixed;
    top: 0;
    width: calc(var(--altura-cabecalho) - 1rem);

    transition: .5s;
}
.button__nav--line {
    background-color: var(--cor-fundo);
}

.button__nav--line {
    border-radius: 1rem;
    position: absolute;
    left: 0;
    height: var(--altura-linhaBotao);
    transition: .5s;
}
#top-line {
    top: calc(0% + var(--margemBotao));
}
#middle-line {
    top: calc(50% - var(--altura-linhaBotao)/2);
}
#bottom-line {
    top: calc(100% - var(--altura-linhaBotao) - var(--margemBotao));
}

/* Tamanho das linhas no default */
#middle-line {
    width: 75%;
}
.button__nav--line:not(#middle-line) {
    width: 100%;
}
/* Tamanho das linhas no hover */
.button__nav:not(.button__close):hover .button__nav--line:not(#middle-line) {
    width: 75%;
}
.button__nav:hover #middle-line {
    width: 100%;
}


/* Comportamento hover */
.button__nav:hover .button__nav--line{
    background-color: white;
}


/*_______________________________________BUTTON__CLOSE__________________________________________*/

.button__close {
    transform: scale(.75);
    transition: .5s;
}

/* Posicionamento das linhas */
.button__close #top-line,
.button__close #bottom-line {
    top: calc(50% - var(--altura-linhaBotao));
}


/* Animação X */
.button__close #top-line {
    transform: rotate(-45deg);
}
.button__close #bottom-line {
    transform: rotate(45deg);
}
.button__close .button__nav--line:nth-child(2) {
    opacity: 0;
}
