
.button__nav {
    height: var(--altura-cabecalho);
    justify-content: space-between;
    margin-left: 1rem;
    position: fixed;
    top: 0;
    width: var(--altura-cabecalho);
}
#top-line {
    top: calc(0% + var(--margemBotao));
    width: 70%;
}
#middle-line {
    top: calc(50% - var(--altura-linhaBotao)/2);
    width: 50%;
}
#bottom-line {
    top: calc(100% - var(--altura-linhaBotao) - var(--margemBotao));
    width: 70%;
}

.button__nav:hover #middle-line {
    width: 75%;
}
.button__nav:hover #top-line,
.button__nav:hover #bottom-line {
    width: 50%;
}
.button__nav:hover .button__nav--line{
    background-color: white;
}


.button__nav--line {
    background-color: white;
    border-radius: 1rem;
    position: absolute;
    left: 0;
    height: var(--altura-linhaBotao);
    transition: .5s;
}
.botao__close .linha:first-child{
    transform: rotateZ(-45deg);
}
.botao__close .linha:nth-child(2) {
    transform: scale(0);
    opacity: 0;
}
.botao__close .linha:last-child {
    top: calc(50% - var(--altura-da-linha));
    transform: rotateZ(45deg);
}


.button__nav-active #top-line,
.button__nav-active #bottom-line {
    top: calc(50% - var(--altura-linhaBotao));
    translate: scale(0.85);
}



.button__nav-active #top-line {
    transform: rotate(-45deg);
}


.button__nav-active #bottom-line {
    transform: rotate(45deg);
} 
.button__nav-active .button__nav--line {
    top: 50%;
    transition: .5s;
    position:absolute;
}
.button__nav-active .button__nav--line:nth-child(2) {
    opacity: 0;
}

/*
.button__nav {
    position: fixed;
    height: 5rem;
    width: 5rem;
    top: 0;
    left: 0;
}
.button__nav span {
    position: relative;
    height: .25rem;
    width: 100%;
    background-color: white;
    border-radius: 1rem;

    box-shadow: 0 0 3px black;
    z-index: 10;
}

.botao__nav * {
    transition: .5s;
}
.botao__close *{
    transition: .5s;
}

.botao__nav .button__nav--line:first-child {
    top: 0%;
}
.botao__nav .button__nav--line:nth-child(2) {
    margin-top: calc(50% - .25rem/2);
}
.botao__nav .button__nav--line:last-child {
    top: calc(100% - .25rem);  
}

.botao__close .linha:first-child{
    top: calc(50% - .25rem);
    transform: rotateZ(-45deg);
}
.botao__close .linha:nth-child(2) {
    transform: scale(0);
    opacity: 0;
}
.botao__close .linha:last-child {
    top: calc(50% - .25rem);
    transform: rotateZ(45deg);
}
*/