.cabecalho {
    /*border-bottom: .125rem solid black;*/
    background-color: var(--azul-principal);
    text-align: center;
    padding: 1rem;

}
.cabecalho__titulo {
    color: white;
    font-weight: 300;
    font-size: 2.5rem;
    /*max-width: 300px;*/
    text-transform: uppercase;
}

@media screen and (max-width:768px){
    .cabecalho__titulo {
    }
}