.cabecalho {
    /*border-bottom: .125rem solid black;*/
    text-align: center;
    padding: 1rem;
    box-shadow: 0 1rem .5rem rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(var(--azul-principal), rgba(0, 0, 255, 0));
}
.cabecalho__titulo {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    /*max-width: 300px;*/
    text-transform: uppercase;
}

@media screen and (max-width:768px){
    .cabecalho__titulo {
    }
}