.tabela__titulo {
    color: rgb(0, 174, 255);
    margin-right: auto;
    text-transform: uppercase;
    
}
.tabela {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    border-spacing: 0;
}
.tabela__cabecalho {
    width: 100%;
    background-color: var(--azul-escuro);
    color: white;
}


tr:nth-child(2n) {
    background-color: rgb(223, 223, 223);
}
th {
    padding: 0 .5rem;
}
tbody tr {
    height: 3rem;
}

@media screen and (max-width: 480px) {
    .tabela__cabecalho {
        font-size: .5rem;
    }
}

@media screen and (max-width: 1024px) {
    .tabela__cabecalho {
        font-size: .75rem;
    }
    .tabela__cabecalho--nome {
        font-size: 1rem;
    }
}