.tabelas {
    background-color: var(--cor-principal);
    padding: 0 .5rem;
}

.tabela__titulo {
    color: white;
    margin-right: auto;
    text-transform: uppercase;
    
}
.tabela {
    border-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.tabela__cabecalho {
    background-color: var(--cor-secundaria);
}



th {
    border: 1px solid rgb(255, 255, 255);
    color: white;
    font-size: 1rem;
    padding: .5rem .5rem;
    line-height: 1rem;
}
tbody tr {
    background-color: rgba(255, 255, 255, 0.95);
    height: 2rem;
}
tr:nth-child(2n) {
    background-color: var(--cor-linha);
}

tfoot {
    background-color: unset;
}
tfoot td:last-child{
    background-color: var(--cor-secundaria);
}

@media screen and (max-width: 480px) {
    .tabela__cabecalho {
    }
}

@media screen and (max-width: 1024px) {
    .tabela__cabecalho {
    }
    .tabela__cabecalho--nome {
        font-size: 1rem;
    }
}