
.tabela__titulo {
    color: white;
    text-shadow: 0 .1rem .25rem black;
    margin: 0;
    margin-right: auto;
    text-transform: uppercase;
    
}
.tabela {
    border-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.tabela__cabecalho {
    background-color: var(--cor-secundaria);
}
.tabela__linha--nome {
    position: relative;
    width: 100%;
}

.removerLinha {
    animation-duration: .5s;
    animation-name: removerLinhaAnim;
    transition: .5s;
}

@keyframes removerLinhaAnim {
    50% {
        transform: translateX(-5%) rotateX(45deg );
    }
    100% {
        transform: translateX(100%);
    }
}

th {
    border: 1px solid rgb(255, 255, 255);
    color: white;
    font-size: 1rem;
    padding: .5rem .5rem;
    line-height: 1rem;
}
tbody tr {
    background-color: #FFF;
    height: 2rem;
}
tbody tr:nth-child(2n) {
    background-color: var(--cor-linha);
}

tfoot {
    background-color: unset;
}
tfoot td:last-child{
    background-color: var(--cor-secundaria);
}

@media screen and (max-width: 480px) {
    .tabela__cabecalho {
    }
}

@media screen and (max-width: 1024px) {
    .tabela__cabecalho {
    }
    .tabela__cabecalho--nome {
        font-size: 1rem;
    }
}