.formularioProduto {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.formularioProduto__nome{
    padding-top: 1rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
}

.botao-produto {
    background-color: #FFFFFF;
    bottom: 0;
    color: var(--cor-principal);
    font-size: 2rem;
    font-weight: 700;
    height: 4rem;
    left: 0;
    margin-bottom: 0;
    text-shadow: 0 0 black, -1px -1px #444;
    width: 100%;
    box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.5) ;

    transition: .5s;
}

.botao-produto:hover {
    background-color: #444;
    color: white;
    transition: .5s;
}

.formularioProduto--inativo .formularioProduto__nome{
    color: rgb(145, 145, 145);
}
.formularioProduto--inativo .botao-produto {
    background-color: rgb(145, 145, 145);
    text-shadow: none;
    color: rgb(135, 135, 135);
}

@media screen and (min-width: 1400px) {
    .formularioProduto {
        position: relative;
    }
    .botao-produto {
        border-radius: 0 5rem 5rem 0;
    }
    .formularioProduto__nome {
        padding: auto 0;
    }
}