.formulario {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 300px;
}
.formulario-inativo {
    display: none;
}
.container > .formulario__campo {
    text-transform: uppercase;
    border-bottom: 1px dotted black;
}
.formulario__campo {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;
    padding: 1rem 0;
}

.formulario__campo input{
    width: 50%;
}
.formulario__campo div {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

#quantidade-produtos {
    width: 20%;
    min-width: 5rem;
}








@media screen and (max-width:758px) {
    .formulario {
        margin: 1rem 0;
    }
}