.formularios {
    padding-top: 1.5rem;
}
.formulario {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    opacity: 1;
    /*max-width: 600px;*/
    margin-bottom: 1rem;
    margin: 0 auto;
    transition: .5s;
    width: 100%;
}

.formulario__campo{
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    margin-bottom: .5rem;
    width: calc(100% - 2rem);
}

.formulario__tipo {
    display: flex;
    flex-direction: column;
    height: 160px;
    padding-bottom: 1rem;
    transition: .25s;
}
.formulario-inativo {
    transition: .25s;
    transform: scaleY(0);
    height: 0;
    opacity: 0;
}
/*QUANTIDADE DE PRODUTOS*/


@media screen and (min-width: 768px) {
    .formulario {
        
    }
}

@media screen and (min-width: 1440px) {
    .formulario {
        padding: 0;
    }
}