.formularios {
    padding-top: 2rem;
}
.formulario {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    opacity: 1;
    margin: 0 auto;
    margin-bottom: 1rem;
    transition: .5s;
    width: 100%;
}

.formulario__campo{
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: .5rem;
    max-width: 600px;
    width: calc(100% - 2rem);
}
/*QUANTIDADE DE PRODUTOS*/
#formulario__quantidadeProdutos {
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.6);
    border-bottom: .1rem solid white;
    line-height: 1rem;
    font-size: 1rem;
    padding: .5rem;
    width: calc(100% - 2rem);
}
#formulario__quantidadeProdutos label {
    margin-right: 1rem;
}
#quantidade-produtos {
    width: 20%;
    min-width: 5rem;
}
/*------------------------*/

.formulario__tipo {
    height: 120px;
    transition: .25s;
    transform: scaleY(1);
}
.formulario-inativo {
    transition: .25s;
    transform: scaleY(0);
    height: 0;
    opacity: 0;
}

.formulario__campo--input {
    width: 50%;
    border: none;
    padding: .5rem;
}
select.formulario__campo--input {
    border-radius: 2rem;
    background-color: var(--cor-secundaria);
    color: white;
}

#label-preco {
    width: 50%;
}
.preco-quantidade__div {
    display: flex;
}
.preco-quantidade__div label {
    flex: 50% 1 1;
}
.preco-quantidade__div div {
    flex: 50% 1 1;
    display: flex;
    justify-content: space-between;
}
.preco-quantidade__div div input {
    width: calc(50% - .25rem);
}



.mensagem-erro {
    background-color: white;
    border-radius: .25rem;
    color: red;
    display: inline-block;
    padding: .1rem;
    position: absolute;
    transform: translateY(-200%);
}
.mensagem-erro-oculta {
    display: none;
}
.formulario__nome-produto{
    padding: 2rem 0;
    margin-top: auto;
    margin-bottom: 5rem;
}
.container-principal ~ .formulario__campo label{
    font-size: 1.25rem;
}


@media screen and (min-width: 1440px) {
    .formulario {
        padding: 0;
    }
}